* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: gainsboro;
}

.header-content {
    background-color: #71777d;
    padding: 35px;
    text-align: center;
}

.header-text {
    font-size: 40px;
    color: white;
    position: relative;
    display: inline-block;
    margin: 0;
    text-shadow: 2px 5px 5px darkgray;
}

.header-text::before,
.header-text::after {
    position: absolute;
    color: white;
}

.header-text::before {
    content: "the_";
    margin-left: -80px;
}

.header-text::after {
    content: "_site";
}

.gallery-section {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.cars-gallery {
    position: relative;
    width: 70%;
    height: 700px;
}

.car-item {
    position: absolute;
    width: calc(50% - 5px);
    height: calc(50% - 5px);
    transition: all 0.5s ease;
}

.top-left {
    top: 0;
    left: 0;
}

.top-right {
    top: 0;
    right: 0;
}

.bottom-left {
    bottom: 0;
    left: 0;
}

.bottom-right {
    bottom: 0;
    right: 0;
}

.car-image {
    height: 100%;
    width: 100%;
    border-radius: 13px;
}

.car-item:hover {
    width: 80%;
    height: 80%;
    z-index: 1;
}

.sidebar {
    font-size: 65px;
    margin-left: 10px;
    width: 15%;
    height: 700px;
    background-color: #71777d;
    text-shadow: 2px 5px 5px darkgray;
    border-radius: 13px;
    color: white;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-content {
    display: flex;
    width: calc(85% + 10px);
    margin: 20px auto;
    justify-content: center;
    gap: 10px;
}

.text-block {
    padding: 10px;
    width: 40%;
    text-align: justify;
    height: 200px;
    overflow: auto;
    background-color: white;
    border-radius: 13px;
}
